# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#                                                       :+:      :+:    :+:    #
#    .gitignore                                       +:+ +:+         +:+      #
#                                                   +#+  +:+       +#+         #
#    By: troberts <troberts@student.42.fr>        +#+#+#+#+#+   +#+            #
#                                                      #+#    #+#              #
#                                                     ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Default rules
*.out
*.swp
*.gch
*.o
*.code-workspace
.DS_Store
.vscode
.devcontainer

# Specific files
gnl
libft.a
libft.h
1.txt
2.txt
3.txt

# Specific folders
old
gnlTester
other-test